<section class="section section--alt" id="audience">
  <div class="container">
    <p class="section__eyebrow">Who You'll Reach</p>
    <h2 class="section__title">Audience</h2>
    <div class="section__lead">
      <!-- Content to come. -->
       Mass Open events attract a wide array of technologists, professionals, Open Source AI community members, and the technology-adjacent or curious. Our attendees are forging new paths or enthused to learn from those who are. Our audience is engaged, aspirational, and eager to show the way to agentic transformation. Sponsoring Mass Open events is a great way to connect with the next generation of agentic engineers and the decision makers who will be shaping the future of AI.
    </div>
  </div>
</section>
