<section class="section" id="benefits">
  <div class="container">
    <p class="section__eyebrow">Sponsorship</p>
    <h2 class="section__title">Why Sponsor?</h2>
    <div class="section__lead">
      <!-- Content to come. -->
       Mass Open events connect enterprise professionals with experts in open source agentic engineering: startup founders, leading researchers, and industry leaders. Sponsors of the Agentic 101 series will find an audience with decision makers in highly regulated companies as well as the most influential developers in the agentic engineering world. Your employees will learn from the best, and your highly skilled engineers will be able to hone their skills with an engaged audience. Whether you have technology to share with the broader community or you just want to learn from the best, sponsoring Mass Open events is a great way to connect with open source AI communities.
    </div>
  </div>
</section>
