<section class="section" id="mission">
  <div class="container">
    <p class="section__eyebrow">About Mass Open</p>
    <h2 class="section__title">The intersection of open source and AI in New England</h2>
    <div class="section__lead">
      <p>
        Mass Open exists to build a center of gravity in New England for <strong>open source AI</strong>.
	To do that, we are creating 2 types of events to serve the AI community in New England and 
	the Acela Corridor.
      </p>
      <p><strong>Agentic 101</strong>
      </p>
      <p>Agentic 101 is a series of workshops where attendees will learn how to deploy and manage local
      agentic systems. Agentic engineering holds the promise of automating complex, multi-step 
      operations once reserved for brittle scripts and manual governance and observation. In Agentic 101, you’ll 
      learn the basics for buiding and running these systems, the open source projects powering them, and 
      ways to make use of them in your daily work without accruing large token usage fees.
      </p>
      <p>
      See our events section to find out when we're coming to your neck of the woods.
      </p>
      <p><strong>Mass Open</strong>
      <p>
	Mass Open will be our signature, flagship event, coming to Boston in spring of 2027. We'll share more details 
	here as they're available. 
      </p>
    </div>
  </div>
</section>
